{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!--Home page for YMViewer-->

    <body>
        <main class="container py-5 text-center">
            <h1>
                Upcoming Games for
                {% for college in colleges %}
                    {% if user_college_id == college.id %}
                        {{ college.college_name }}
                    {% endif %}
                {% endfor %}
            </h1>
            <p>Today is: {{ today }}
                <br>
                <label>Sort by Sport Type:</label>
                <form action="/filter_by_sports" method="post">
                    <select name="sportfilter" id="sportfilter" type="submit">
                        <option value="All"> All Sports</option>
                        <option value="Table Tennis">Table Tennis</option>
                        <option value="Pickleball">Pickleball</option>
                        <option value="Soccer">Soccer</option>
                        <option value="Flag Football">Flag Football</option>
                        <option value="Cornhole">Cornhole</option>
                        <option value="Spikeball">Spikeball</option>
                        <option value="Other">Other</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Filter</button>
                </form>
            </p>


            <div class="container section-plan">
                <div class="row">
                <!--SELECTS ALL GAMES FROM GAMES TABLE-->
                    {% for game in current_games %}
                <!--THIS IF CONDITIONAL MAKES SURE THAT ONLY GAMES WITH YOUR RESCO ON THEM HAVE THEM-->
                        {% if user_college_id == game.Team1_id or user_college_id == game.Team2_id %}

                <!--EVENTUALLY ADD ROOM FOR SPORT CONDITIONAL TO CREATE A SPORT FILTER!!!-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="row plan-box plan-danger text-center" style="background-image: linear-gradient(to right,
                                                                                         {% for college in colleges %}
                                                                                             {% if game.Team1_id == college.id %}
                                                                                                 {{ college.color }}
                                                                                             {% endif %}
                                                                                         {% endfor %},

                                                                                         {% for college in colleges %}
                                                                                             {% if game.Team2_id == college.id %}
                                                                                                 {{ college.color }}
                                                                                             {% endif %}
                                                                                         {% endfor %}
                                                                                         );">

                                    <div class="col-md-12 section1">
                                        <h3>
                                            {% for college in colleges %}
                                                {% if game.Team1_id == college.id %}
                                                    {{ college.college_name }}
                                                {% endif %}
                                            {% endfor %}
                                            vs.
                                            {% for college in colleges %}
                                                {% if game.Team2_id == college.id %}
                                                    {{ college.college_name }}
                                                {% endif %}
                                            {% endfor %}
                                        </h3>
                                    </div>
                                    <div class="col-md-12 section2">
                                        <h3>{{ game.Sport_type }}</h3>
                                    </div>
                                    <div class="col-md-12 section3">
                                        <p>{{ game.Desc }}</p>
                                        <p>Date and time: {{ game.Date }} at {{ game.Time }}</p>
                                        <p>Location: {{ game.Location }}</p>
                                    </div>
                                    <div class="col-md-12 section4">


                                        {% if session["admin_status"] == 1 %}
                                            <label>
                                                <form action="/open_signup_page" method="post">
                                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                                    <button class="btn btn-primary" style="font-size: 14px;" type="submit">INFO</button>
                                                </form>
                                            </label>
                                            <label>
                                                <form action="/open_results_update_page" method="post">
                                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                                    <button class="btn btn-primary" style="background-color:#1AA36D; font-size: 14px;" type="submit">UPDATE GAME RESULTS</button>
                                                </form>
                                            </label>
                                            <label>
                                                <form action="/delete_game" method="post">
                                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                                    <button class="btn btn-primary" style="background-color:#C21807; font-size: 12px;" type="submit">DELETE GAME</button>
                                                </form>
                                            </label>

                                        {% else %}
                                            <form action="/open_signup_page" method="post">
                                                <input type="hidden" name="game_id" value="{{ game.id }}">
                                                <button class="btn btn-primary" type="submit">EVENT & SIGN UP INFO</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </main>
    </body>


{% endblock %}
