{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <!--PAGE FOR PROFILE OF USER-->
    <video autoplay loop muted plays-inline class="backvid">
        <source src="static/run.mp4" type="video/mp4">
    </video>
    <div style="float: left; margin: 0 1.5%; width: 30%;">
        {% if user_college_id == 0 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/1/13/Berkeleyshield.png">
        {% elif user_college_id == 1 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Branford_College_shield.png">
        {% elif user_college_id == 2 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b3/Davenportshield.png">
        {% elif user_college_id == 3 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b7/EzraStilesshield.png">
        {% elif user_college_id == 4 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4e/JonathanEdwardsshield.png">
        {% elif user_college_id == 5 %}
            <img src="https://yale2020.yale.edu/sites/default/files/images/shield_BF.png">
        {% elif user_college_id == 6 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/6/64/The_Coat_of_Arms_of_Grace_Hopper_College%2C_Yale_University.png">
        {% elif user_college_id == 7 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7b/Morseshield.png">
        {% elif user_college_id == 8 %}
            <img src="https://paulimurray.yalecollege.yale.edu/sites/default/files/resize/images/MY%20Shield-400x454.png">
        {% elif user_college_id == 9 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/da/Piersonshield.png/280px-Piersonshield.png">
        {% elif user_college_id == 10 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/2/2c/Saybrook_shield.png">
        {% elif user_college_id == 11 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/e/e9/Sillimanshield.png">
        {% elif user_college_id == 12 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Timothy_Dwight_shield.png">
        {% elif user_college_id == 13 %}
            <img src="https://upload.wikimedia.org/wikipedia/en/4/44/Trumbullshield.png">
        {% endif %}
    </div>

    <div style="float: right; margin: 0 1.5%; width: 55%;">
        <h1>
            {{ username }}
        </h1>
        <br>
        <h3>College:

            {% for college in colleges %}
                {% if user_college_id == college.id %}
                    {{ college.full_college_name }}
                {% endif %}
            {% endfor %}
        </h3>
        <div>
            <p style="font-style:italic; color: red;">
                {% if admin_status == 1 %}
                    ADMIN
                {% endif %}
            </p>
        </div>
    </div>

    </main>


{% endblock %}
