{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!--PAGE FOR REGISTERING NEW USERS-->
    <form action="/register" method="post">
        <h3 class="form-control mx-auto w-auto">Create a Username and Password:</h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <h3 class="form-control mx-auto w-auto">Password must contain at least 4 characters, 1 symbol, and 1 number</h3>
            <br>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Retype Password" type="password">
        </div>
        <div>
            <select class="form-control mx-auto w-auto" name="resco" id="teamselect">
                <option disabled selected>Select College</option>
                <option value="0">Berkeley</option>
                <option value="1">Branford</option>
                <option value="2">Davenport</option>
                <option value="3">Ezra Stiles</option>
                <option value="4">Johnathan Edwards</option>
                <option value="5">Benjamin Franlkin</option>
                <option value="6">Grace Hopper</option>
                <option value="7">Morse</option>
                <option value="8">Pauli Murray</option>
                <option value="9">Pierson</option>
                <option value="10">Saybrook</option>
                <option value="11">Silliman</option>
                <option value="12">Timothy Dwight</option>
                <option value="13">Trumbull</option>
            </select>
            <br>
            <labe>Admin: </label>
            <input type="password" name="admin_code" placeholder="Enter code here">
            <br>
            <br>
        </div>
        <button class="btn btn-primary" type="submit">Create Account</button>
    </form>
{% endblock %}
