{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <body>
            <h1>Tyng Cup Standings</h1>
            <h5 style="text-align: left">Awarded annually since 1933, the Tyng Cup is the most coveted of all Intramural Trophies. Traditionally, each Intramural contest played throughout the year is weighted with a number of Tyng Cup points equal to the amount of atheletes playing at one time.
                However, for this new system we have created, each residential college team gets 5 points added to their total after a win, 0 after a loss, and 2 in a draw.
                Timothy Dwight has won the Tyng Cup the most number of times with 14, while Benjamin Franklin is the only college to have not won the Tyng after Pauli Murray’s 2021-22 championship left their fellow “new college” alone in that winless spot.</h5>
            <canvas class="container py-5 text-center" id="myChart" style="width:100%;max-width:900px"></canvas>

            <script>
                const xValues = {{names | safe}};
                const yValues = {{points | safe}};
                const barColors = {{color | safe}};

                new Chart("myChart", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true
                        }
                    }
                });
            </script>
            <h2>
                <marquee direction="left" bgcolor=#00356B style="color: white; margin: auto;
                                                                 width: 100%;
                                                                 border: 3px solid #141B4D;
                                                                 padding: 10px;">

                    INTRAMURAL INTENSITY: MORSE TRIUMPHS OVER BERKELEY IN HEART-STOPPING 1-0 CLASH!

                    SOCCER SHOWDOWN: BERKELEY'S DEFENSE HOLDS STRONG, CROWD ROARS IN TENSION!

                    YALE UNITY: CAMPUS ERUPTS AS STUDENTS RALLY BEHIND THEIR RESPECTIVE COLLEGES!

                    HALFTIME DRAMA: NAIL-BITER AT 0-0, WHO WILL BREAK THE DEADLOCK?

                    MORSE MAGIC: STRATEGIC MOVES AND MIDFIELD DOMINANCE KEEP FANS ON THE EDGE!

                    VICTORY CELEBRATION: BERKELEY FIGHTS HARD, BUT MORSE CLINCHES THE WIN!

                    POST-MATCH FEVER: CAMPUS ABUZZ WITH ENTHUSIASTIC DISCUSSIONS, PLAYER REACTIONS AWAIT!

                    NEXT UP: BRACE YOURSELVES FOR INTRAMURAL BASKETBALL AND VOLLEYBALL THRILLS!
                </marquee>
            </h2>
            <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;

                }

                td,
                th {
                    border: 1px solid #403f3f;
                    text-align: center;
                    padding: 9px;
                    margin: 100px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            </style>
        </head>

        <body>


            <table>
                <tr>
                    <th>College</th>
                    <th>Rank</th>
                    <th>Win</th>
                    <th>Loss</th>
                    <th>Draw</th>
                    <th>Games Played</th>
                    <th>Score</th>
                </tr>
                {% for college in colleges%}
                    <tr>
                        <td>{{college.full_college_name}}</td>
                        <td>{{college.ranking}}</td>
                        <td>{{college.wins}}</td>
                        <td>{{college.losses}}</td>
                        <td>{{college.draws}}</td>
                        <td>{{college.wins + college.losses + college.draws}}</td>
                        <td>{{college.total_points}}</td>
                    </tr>
                {% endfor %}
            </table>


        </body>
    </main>

{% endblock %}
