{% extends "layout.html" %}

{% block title %}
    Previous Games
{% endblock %}

{% block main %}

    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;

            }

            td,
            th {
                border: 1px solid #403f3f;
                text-align: center;
                padding: 9px;
                margin: 100px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <h1>Previous Games</h1>
        <table>
            <tr>
                <th>Competing</th>
                <th>Winner</th>
                <th>Score</th>
                <th>Sport</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            {% for game in games%}
                <tr>
                    <td>

                        <div class="standard">
                            {{game.Team1}}
                            <img class="img1" src="{{game.Logo1}}" />
                            <img class="img2" src="{{game.Logo2}}" />
                            {{game.Team2}}
                        </div>
                    </td>
                    <td>{{game.Team1}}</td>
                    <td>{{game.Team1_score}} - {{game.Team2_score}}</td>
                    <td>{{game.Sport_type}}</td>
                    <td>{{game.Date}}</td>
                    <td>{{game.Time}}</td>
                    <td>{{game.Location}}</td>
                </tr>
            {% endfor %}
        </table>

    </body>

{% endblock %}
